<%- include('partials/header') %>
    <h1>Disease List</h1>
    <div class="" style="margin: 1em;">
        <ol>
            <% for(let element of result) { %>
                <li>
                    <%= element.dName %>
                        <a href="http://localhost:6060/disease/<%=element.id%>/edit">edit</a>
                </li>
                <% } %>
        </ol>
    </div>

    <script>
        function myFunction() {
            let x = document.getElementById("myDIV");
            if (x.style.display === "none") {
                x.style.display = "block";
            } else {
                x.style.display = "none";
            }
        }
    </script>

    <%- include('partials/footer') %>